<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=ยบ, initial-scale=1.0")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
        link(rel="stylesheet", href="css/styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet")
        title Frontend Mentor | Single Price Grid Component
    body
        main
            section.info
                h1.info__title Join our community
                p.info__subtitle 30-day, hassle-free money back guarantee
                p.info__paragraph Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.
            section.card--cyan
                h2.card__title Monthly Subscription
                p.card__paragraph--XL
                    span.card__span &dollar;29 
                    |per month
                p.card__paragraph Full access for less than &dollar;1 a day
                button.card__button Sign Up
            section.card--lightCyan
                h2.card__title Why Us
                ul.card__list
                    li.card__item Tutorials by industry experts
                    li.card__item Peer &amp; expert code review
                    li.card__item Coding exercises
                    li.card__item Access to our GitHub repos
                    li.card__item Community forum
                    li.card__item Flashcard decks
                    li.card__item New videos every week